.back-red {
    background-color: red;
    height: 1000px;
}

h1.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
    padding: 100px 0px 10px 0px;
    font-size: 75px;
}

.border-blue {
    border-bottom: 2px solid deepskyblue;
    margin-bottom: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #555555;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 20px 0px 10px 0px;
    font-size: 50px;
}

.space {
    height: 150px;
}